.topAppBar {
  overflow: auto;
  position: fixed;
  height: 10%;
  width: 100%;
  background-color: white;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.container {
  display: flex;
}

.spacer {
  width: 20px;
}

.showMenu {
  display: block;
}


@media (min-width:800px) {
  .showMenu{
    display: none;
  }
}

