.sideNavBar {
  position: fixed;
  left: 1%;
  top: 12vh;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 12%;
  padding: 20px 0px;
  color: #7c7c7c;
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 20px;
  background-color: white;
  justify-content: space-between;
  /* align-content: space-between;
  align-items: stretch; */
}

li {
  list-style-type: none;
  overflow: hidden;
}

.link {
  display: flex;
  padding: 15px 20px 15px 20px;
  color: inherit;
  text-decoration: none;
}

.linkActive {
  background-color: #f0faf8;
  color: black;
}

.logout {
  font-size: 0.9rem;
  padding: 0px;
  color: black;
}

.logout:hover {
  background-color: red;
  color: white;
}


@media (max-width:800px) {
  .sideNavBar{
    width: 100%;
  }
}