.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.emoji {
  font-size: 8rem;
}

p {
  font-weight: bold;
  font-size: 0.8rem;
  color: #a0a0a0;
}
